@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -91px 43.6666666667px hsl(307deg, 100%, 50%), 39px -26.3333333333px hsl(120deg, 100%, 50%), -52px -181.3333333333px hsl(216deg, 100%, 50%), -46px -7.3333333333px hsl(255deg, 100%, 50%), 156px -29.3333333333px hsl(33deg, 100%, 50%), 116px 65.6666666667px hsl(84deg, 100%, 50%), 40px 57.6666666667px hsl(295deg, 100%, 50%), -170px -31.3333333333px hsl(271deg, 100%, 50%), -13px -203.3333333333px hsl(75deg, 100%, 50%), 114px -200.3333333333px hsl(250deg, 100%, 50%), -196px -165.3333333333px hsl(215deg, 100%, 50%), -204px -143.3333333333px hsl(154deg, 100%, 50%), -170px 66.6666666667px hsl(180deg, 100%, 50%), 207px -262.3333333333px hsl(128deg, 100%, 50%), 239px -23.3333333333px hsl(31deg, 100%, 50%), -27px -81.3333333333px hsl(131deg, 100%, 50%), 34px 60.6666666667px hsl(78deg, 100%, 50%), 157px -249.3333333333px hsl(186deg, 100%, 50%), 187px -10.3333333333px hsl(234deg, 100%, 50%), -168px -88.3333333333px hsl(356deg, 100%, 50%), 2px -53.3333333333px hsl(357deg, 100%, 50%), 62px -113.3333333333px hsl(189deg, 100%, 50%), 98px -61.3333333333px hsl(288deg, 100%, 50%), -222px -185.3333333333px hsl(230deg, 100%, 50%), -110px -72.3333333333px hsl(105deg, 100%, 50%), -29px 26.6666666667px hsl(208deg, 100%, 50%), 128px -90.3333333333px hsl(66deg, 100%, 50%), 89px 3.6666666667px hsl(222deg, 100%, 50%), -30px -258.3333333333px hsl(19deg, 100%, 50%), 102px 12.6666666667px hsl(144deg, 100%, 50%), -235px -170.3333333333px hsl(337deg, 100%, 50%), 116px 35.6666666667px hsl(21deg, 100%, 50%), -249px -238.3333333333px hsl(172deg, 100%, 50%), -211px 25.6666666667px hsl(91deg, 100%, 50%), 20px 43.6666666667px hsl(25deg, 100%, 50%), -164px -224.3333333333px hsl(201deg, 100%, 50%), 97px -274.3333333333px hsl(106deg, 100%, 50%), 168px -31.3333333333px hsl(217deg, 100%, 50%), -53px -37.3333333333px hsl(132deg, 100%, 50%), -137px -175.3333333333px hsl(3deg, 100%, 50%), 217px 23.6666666667px hsl(52deg, 100%, 50%), 181px -32.3333333333px hsl(192deg, 100%, 50%), -106px -86.3333333333px hsl(71deg, 100%, 50%), 52px -192.3333333333px hsl(186deg, 100%, 50%), 173px -300.3333333333px hsl(181deg, 100%, 50%), 209px 36.6666666667px hsl(254deg, 100%, 50%), 196px -240.3333333333px hsl(343deg, 100%, 50%), 95px -163.3333333333px hsl(342deg, 100%, 50%), -11px -213.3333333333px hsl(228deg, 100%, 50%), -176px 22.6666666667px hsl(159deg, 100%, 50%), 124px -303.3333333333px hsl(200deg, 100%, 50%), 92px -195.3333333333px hsl(258deg, 100%, 50%), -217px -238.3333333333px hsl(128deg, 100%, 50%), -167px -195.3333333333px hsl(120deg, 100%, 50%), 194px -305.3333333333px hsl(162deg, 100%, 50%), 96px -173.3333333333px hsl(147deg, 100%, 50%), -16px -186.3333333333px hsl(209deg, 100%, 50%), -209px -155.3333333333px hsl(28deg, 100%, 50%), 236px -229.3333333333px hsl(209deg, 100%, 50%), -236px -151.3333333333px hsl(5deg, 100%, 50%), 71px -79.3333333333px hsl(35deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: -91px 43.6666666667px hsl(307deg, 100%, 50%), 39px -26.3333333333px hsl(120deg, 100%, 50%), -52px -181.3333333333px hsl(216deg, 100%, 50%), -46px -7.3333333333px hsl(255deg, 100%, 50%), 156px -29.3333333333px hsl(33deg, 100%, 50%), 116px 65.6666666667px hsl(84deg, 100%, 50%), 40px 57.6666666667px hsl(295deg, 100%, 50%), -170px -31.3333333333px hsl(271deg, 100%, 50%), -13px -203.3333333333px hsl(75deg, 100%, 50%), 114px -200.3333333333px hsl(250deg, 100%, 50%), -196px -165.3333333333px hsl(215deg, 100%, 50%), -204px -143.3333333333px hsl(154deg, 100%, 50%), -170px 66.6666666667px hsl(180deg, 100%, 50%), 207px -262.3333333333px hsl(128deg, 100%, 50%), 239px -23.3333333333px hsl(31deg, 100%, 50%), -27px -81.3333333333px hsl(131deg, 100%, 50%), 34px 60.6666666667px hsl(78deg, 100%, 50%), 157px -249.3333333333px hsl(186deg, 100%, 50%), 187px -10.3333333333px hsl(234deg, 100%, 50%), -168px -88.3333333333px hsl(356deg, 100%, 50%), 2px -53.3333333333px hsl(357deg, 100%, 50%), 62px -113.3333333333px hsl(189deg, 100%, 50%), 98px -61.3333333333px hsl(288deg, 100%, 50%), -222px -185.3333333333px hsl(230deg, 100%, 50%), -110px -72.3333333333px hsl(105deg, 100%, 50%), -29px 26.6666666667px hsl(208deg, 100%, 50%), 128px -90.3333333333px hsl(66deg, 100%, 50%), 89px 3.6666666667px hsl(222deg, 100%, 50%), -30px -258.3333333333px hsl(19deg, 100%, 50%), 102px 12.6666666667px hsl(144deg, 100%, 50%), -235px -170.3333333333px hsl(337deg, 100%, 50%), 116px 35.6666666667px hsl(21deg, 100%, 50%), -249px -238.3333333333px hsl(172deg, 100%, 50%), -211px 25.6666666667px hsl(91deg, 100%, 50%), 20px 43.6666666667px hsl(25deg, 100%, 50%), -164px -224.3333333333px hsl(201deg, 100%, 50%), 97px -274.3333333333px hsl(106deg, 100%, 50%), 168px -31.3333333333px hsl(217deg, 100%, 50%), -53px -37.3333333333px hsl(132deg, 100%, 50%), -137px -175.3333333333px hsl(3deg, 100%, 50%), 217px 23.6666666667px hsl(52deg, 100%, 50%), 181px -32.3333333333px hsl(192deg, 100%, 50%), -106px -86.3333333333px hsl(71deg, 100%, 50%), 52px -192.3333333333px hsl(186deg, 100%, 50%), 173px -300.3333333333px hsl(181deg, 100%, 50%), 209px 36.6666666667px hsl(254deg, 100%, 50%), 196px -240.3333333333px hsl(343deg, 100%, 50%), 95px -163.3333333333px hsl(342deg, 100%, 50%), -11px -213.3333333333px hsl(228deg, 100%, 50%), -176px 22.6666666667px hsl(159deg, 100%, 50%), 124px -303.3333333333px hsl(200deg, 100%, 50%), 92px -195.3333333333px hsl(258deg, 100%, 50%), -217px -238.3333333333px hsl(128deg, 100%, 50%), -167px -195.3333333333px hsl(120deg, 100%, 50%), 194px -305.3333333333px hsl(162deg, 100%, 50%), 96px -173.3333333333px hsl(147deg, 100%, 50%), -16px -186.3333333333px hsl(209deg, 100%, 50%), -209px -155.3333333333px hsl(28deg, 100%, 50%), 236px -229.3333333333px hsl(209deg, 100%, 50%), -236px -151.3333333333px hsl(5deg, 100%, 50%), 71px -79.3333333333px hsl(35deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* ------------------- */
/* ====================== */
body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 400;
  height: 100vh;
  /* background: rgb(99, 17, 134);
  background: linear-gradient(
    331deg,
    rgba(99, 17, 134, 1) 17%,
    rgba(168, 27, 61, 1) 100%
  ); */
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(49, 142, 185) 0%, rgb(70, 89, 185) 25%, rgb(110, 49, 133) 51%, rgb(202, 44, 102) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* LAYOUT */
main {
  position: relative;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  width: 100rem;
  height: 60rem;
  overflow: hidden;
  display: flex;
  border-radius: 19px;
}

.player {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  width: 65%;
  border-radius: 7px;
  padding: 2rem;
  text-align: center;
  opacity: 0.8;
  transition: all 0.75s;
  color: #fff;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

@media screen and (max-width: 764px) {
  main {
    width: 35rem;
    height: 39rem;
    border-radius: 10px;
  }
  .player {
    padding: 2rem;
  }
  .name {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .score {
    font-size: 3.2rem;
    font-weight: 400;
  }
  .btn {
    font-size: 1.3rem;
    padding: 0.5rem 0.8rem;
    border-radius: 50rem;
  }
  .btn::first-letter {
    font-size: 1.7rem;
    display: inline-block;
    margin-right: 0.3rem;
  }
  .btn--new {
    top: 6rem;
  }
  .btn--roll {
    top: 22.8rem;
  }
  .btn--hold {
    top: 26.8rem;
  }
  .dice {
    top: 12.5rem;
    height: 7rem;
  }
  .current {
    width: 65%;
    padding: 1rem;
    margin: 0 auto;
  }
  .current-label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  .current-score {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=file.css.map */