@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -32px -247.3333333333px hsl(12deg, 100%, 50%), 240px -13.3333333333px hsl(86deg, 100%, 50%), 87px -185.3333333333px hsl(34deg, 100%, 50%), -242px -180.3333333333px hsl(299deg, 100%, 50%), 108px -90.3333333333px hsl(312deg, 100%, 50%), 135px -219.3333333333px hsl(319deg, 100%, 50%), -19px -180.3333333333px hsl(64deg, 100%, 50%), -105px -215.3333333333px hsl(113deg, 100%, 50%), 30px 17.6666666667px hsl(236deg, 100%, 50%), 142px -53.3333333333px hsl(141deg, 100%, 50%), 211px 41.6666666667px hsl(329deg, 100%, 50%), 138px -69.3333333333px hsl(299deg, 100%, 50%), -67px -234.3333333333px hsl(271deg, 100%, 50%), -230px -314.3333333333px hsl(55deg, 100%, 50%), 203px -230.3333333333px hsl(99deg, 100%, 50%), 246px -10.3333333333px hsl(169deg, 100%, 50%), 84px -233.3333333333px hsl(356deg, 100%, 50%), -168px -189.3333333333px hsl(70deg, 100%, 50%), -126px 29.6666666667px hsl(339deg, 100%, 50%), -128px -332.3333333333px hsl(20deg, 100%, 50%), 31px 46.6666666667px hsl(223deg, 100%, 50%), -240px -281.3333333333px hsl(232deg, 100%, 50%), 221px -290.3333333333px hsl(296deg, 100%, 50%), 125px -278.3333333333px hsl(126deg, 100%, 50%), -170px 9.6666666667px hsl(230deg, 100%, 50%), -144px -61.3333333333px hsl(27deg, 100%, 50%), -60px 54.6666666667px hsl(84deg, 100%, 50%), 49px 49.6666666667px hsl(349deg, 100%, 50%), 197px -268.3333333333px hsl(3deg, 100%, 50%), 17px 60.6666666667px hsl(24deg, 100%, 50%), 44px -246.3333333333px hsl(142deg, 100%, 50%), 215px -324.3333333333px hsl(27deg, 100%, 50%), 61px -185.3333333333px hsl(8deg, 100%, 50%), -90px -102.3333333333px hsl(96deg, 100%, 50%), -106px -284.3333333333px hsl(314deg, 100%, 50%), 153px -146.3333333333px hsl(286deg, 100%, 50%), 165px 0.6666666667px hsl(93deg, 100%, 50%), -120px -271.3333333333px hsl(52deg, 100%, 50%), -33px 46.6666666667px hsl(55deg, 100%, 50%), -142px -184.3333333333px hsl(300deg, 100%, 50%), -76px -26.3333333333px hsl(66deg, 100%, 50%), -14px -90.3333333333px hsl(154deg, 100%, 50%), -159px -70.3333333333px hsl(297deg, 100%, 50%), 68px -167.3333333333px hsl(314deg, 100%, 50%), 127px -105.3333333333px hsl(238deg, 100%, 50%), -27px -74.3333333333px hsl(120deg, 100%, 50%), 161px 64.6666666667px hsl(157deg, 100%, 50%), -226px -15.3333333333px hsl(170deg, 100%, 50%), 174px -67.3333333333px hsl(0deg, 100%, 50%), 235px -176.3333333333px hsl(144deg, 100%, 50%), -203px 41.6666666667px hsl(135deg, 100%, 50%), 207px -270.3333333333px hsl(73deg, 100%, 50%), 232px -327.3333333333px hsl(250deg, 100%, 50%), 78px -202.3333333333px hsl(340deg, 100%, 50%), 141px -171.3333333333px hsl(256deg, 100%, 50%), -65px -68.3333333333px hsl(102deg, 100%, 50%), 237px 1.6666666667px hsl(183deg, 100%, 50%), -57px -87.3333333333px hsl(29deg, 100%, 50%), 245px -134.3333333333px hsl(27deg, 100%, 50%), -215px -108.3333333333px hsl(89deg, 100%, 50%), -134px -274.3333333333px hsl(196deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: -32px -247.3333333333px hsl(12deg, 100%, 50%), 240px -13.3333333333px hsl(86deg, 100%, 50%), 87px -185.3333333333px hsl(34deg, 100%, 50%), -242px -180.3333333333px hsl(299deg, 100%, 50%), 108px -90.3333333333px hsl(312deg, 100%, 50%), 135px -219.3333333333px hsl(319deg, 100%, 50%), -19px -180.3333333333px hsl(64deg, 100%, 50%), -105px -215.3333333333px hsl(113deg, 100%, 50%), 30px 17.6666666667px hsl(236deg, 100%, 50%), 142px -53.3333333333px hsl(141deg, 100%, 50%), 211px 41.6666666667px hsl(329deg, 100%, 50%), 138px -69.3333333333px hsl(299deg, 100%, 50%), -67px -234.3333333333px hsl(271deg, 100%, 50%), -230px -314.3333333333px hsl(55deg, 100%, 50%), 203px -230.3333333333px hsl(99deg, 100%, 50%), 246px -10.3333333333px hsl(169deg, 100%, 50%), 84px -233.3333333333px hsl(356deg, 100%, 50%), -168px -189.3333333333px hsl(70deg, 100%, 50%), -126px 29.6666666667px hsl(339deg, 100%, 50%), -128px -332.3333333333px hsl(20deg, 100%, 50%), 31px 46.6666666667px hsl(223deg, 100%, 50%), -240px -281.3333333333px hsl(232deg, 100%, 50%), 221px -290.3333333333px hsl(296deg, 100%, 50%), 125px -278.3333333333px hsl(126deg, 100%, 50%), -170px 9.6666666667px hsl(230deg, 100%, 50%), -144px -61.3333333333px hsl(27deg, 100%, 50%), -60px 54.6666666667px hsl(84deg, 100%, 50%), 49px 49.6666666667px hsl(349deg, 100%, 50%), 197px -268.3333333333px hsl(3deg, 100%, 50%), 17px 60.6666666667px hsl(24deg, 100%, 50%), 44px -246.3333333333px hsl(142deg, 100%, 50%), 215px -324.3333333333px hsl(27deg, 100%, 50%), 61px -185.3333333333px hsl(8deg, 100%, 50%), -90px -102.3333333333px hsl(96deg, 100%, 50%), -106px -284.3333333333px hsl(314deg, 100%, 50%), 153px -146.3333333333px hsl(286deg, 100%, 50%), 165px 0.6666666667px hsl(93deg, 100%, 50%), -120px -271.3333333333px hsl(52deg, 100%, 50%), -33px 46.6666666667px hsl(55deg, 100%, 50%), -142px -184.3333333333px hsl(300deg, 100%, 50%), -76px -26.3333333333px hsl(66deg, 100%, 50%), -14px -90.3333333333px hsl(154deg, 100%, 50%), -159px -70.3333333333px hsl(297deg, 100%, 50%), 68px -167.3333333333px hsl(314deg, 100%, 50%), 127px -105.3333333333px hsl(238deg, 100%, 50%), -27px -74.3333333333px hsl(120deg, 100%, 50%), 161px 64.6666666667px hsl(157deg, 100%, 50%), -226px -15.3333333333px hsl(170deg, 100%, 50%), 174px -67.3333333333px hsl(0deg, 100%, 50%), 235px -176.3333333333px hsl(144deg, 100%, 50%), -203px 41.6666666667px hsl(135deg, 100%, 50%), 207px -270.3333333333px hsl(73deg, 100%, 50%), 232px -327.3333333333px hsl(250deg, 100%, 50%), 78px -202.3333333333px hsl(340deg, 100%, 50%), 141px -171.3333333333px hsl(256deg, 100%, 50%), -65px -68.3333333333px hsl(102deg, 100%, 50%), 237px 1.6666666667px hsl(183deg, 100%, 50%), -57px -87.3333333333px hsl(29deg, 100%, 50%), 245px -134.3333333333px hsl(27deg, 100%, 50%), -215px -108.3333333333px hsl(89deg, 100%, 50%), -134px -274.3333333333px hsl(196deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* ------------------- */
/* ====================== */
body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 400;
  height: 100vh;
  /* background: rgb(99, 17, 134);
  background: linear-gradient(
    331deg,
    rgba(99, 17, 134, 1) 17%,
    rgba(168, 27, 61, 1) 100%
  ); */
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(49, 142, 185) 0%, rgb(70, 89, 185) 25%, rgb(110, 49, 133) 51%, rgb(202, 44, 102) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* LAYOUT */
main {
  position: relative;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  width: 100rem;
  height: 60rem;
  overflow: hidden;
  display: flex;
  border-radius: 19px;
}

.player {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  width: 65%;
  border-radius: 7px;
  padding: 2rem;
  text-align: center;
  opacity: 0.8;
  transition: all 0.75s;
  color: #fff;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

@media screen and (max-width: 764px) {
  main {
    width: 35rem;
    height: 39rem;
    border-radius: 10px;
  }
  .player {
    padding: 2rem;
  }
  .name {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .score {
    font-size: 3.2rem;
    font-weight: 400;
  }
  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 0.6rem;
    border-radius: 50rem;
  }
  .btn::first-letter {
    font-size: 1.6rem;
    display: inline-block;
    margin-right: 0.3rem;
  }
  .btn--new {
    top: 6rem;
  }
  .btn--roll {
    top: 23.1rem;
  }
  .btn--hold {
    top: 27.4rem;
  }
  .dice {
    top: 12.5rem;
    height: 7rem;
  }
  .current {
    width: 65%;
    padding: 1rem;
    margin: 0 auto;
  }
  .current-label {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  .current-score {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=file.css.map */